parameters:
  name: 'out_vn'
  imp_rt_1: 'target:65500:101'
  rt: 'target:65500:888'
  prefix: '192.168.40.0'
  mask: '24'
  ipam: 'default-domain:default-project:default-network-ipam'
  flavor: 'm1.tiny'
  image: 'cirros'